mat-toolbar {
  justify-content: space-between;
  min-width: 800px;
  margin-bottom: 20px;
}

.another-toolbar {
  color: white;
  background-color: rgb(25, 118, 210);
}

.content {
  padding: 16px;
  display: flex;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

#viewButton {
  width: 50%;
  box-shadow: 1px 1px 2px 2px #888888;
}

.close-button {
  position: absolute;
  border-radius: 5px;
  right: 5px;
  border: none;
  font-size: x-large;
  top: 5px;
  cursor: pointer;
  outline: none;
}

.create-option {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: top;
}

.selector {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: top;
}

.selector:hover,
.selector:active,
.create-option:hover,
.create-option:active {
  color: #dddddd;
}

.type-selected {
  border-bottom: 3px solid white;
}

mat-card-content {
  text-align: left;
}

mat-card-actions {
  display: inline;
}

mat-icon {
  margin-top: -4px;
  vertical-align: middle;
}
