.my-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 15px;
  color: black;
}
.full-width {
  width: 100%;
}

.mat-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.my-card {
  /*  not needed styles to reflect it */
  padding: 20px;
  color: white;
  width: 100%;
  /* needed styles below */
  display: flex;
  justify-content: space-between;
}

#userImage {
  padding-top: 10px;
  width: 50%;
  min-width: 250px;
  justify-content: center;
}

.imageContent {
  display: inline-block;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  min-width: 400px;
}

.labels {
  padding-left: -200px;
}

.labelContent {
  min-width: 160px;
}

.labelContent label {
  color: black;
  display: flex;
  align-items: center;
  padding-top: 20px;
  font-weight: bold;
}

#category {
  padding-top: 28px;
}

.selects {
  margin-top: 21px;
  margin-bottom: 18px;
  width: 100%;
}

#url {
  padding-top: 30px;
}

#summary {
  padding-top: 28px;
}

.p {
  color: black;
}

#price {
  padding-top: 29px;
}

#createButton {
  margin-top: 10px;
  margin-left: 10px;
  justify-content: right;
}

.mat-card-actions {
  float: right;
  margin-right: 20px;
}

.img-with-text {
  text-align: justify;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}

.textLabel {
  margin-bottom: 100px;
}

.textSummary {
  margin-top: 17px;
  width: 100%;
  min-height: 100px;
}
