<!--Create storage form that uses onSubmit() to send its data
The storage code part is missing ngModel because storage code itself isnt supported yet-->
<div class="content">
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <h2>Create Storage Location</h2>
        <mat-error> {{ warning }}</mat-error
        ><br />
        <!--storage name-->
        <mat-card
          fxLayout="row"
          fxLayoutGap="15px"
          fxLayoutAlign="start center"
          class="cards"
        >
          <span class="spantext">Storage Name: </span>
          <mat-form-field class="full-width-input">
            <input
              matInput
              placeholder="Enter Storage Name..."
              name="storagename"
              required
              autofocus
              [(ngModel)]="newStorage.storage_name"
            />
            <mat-error>Storage name cannot be empty.</mat-error>
          </mat-form-field>
        </mat-card>
        <br />
        <!--storage type-->
        <mat-card
          fxLayout="row"
          fxLayoutGap="15px"
          fxLayoutAlign="start center"
          class="cards"
        >
          <span class="spantext">Storage Type: </span>
          <mat-form-field class="full-width-input">
            <input
              matInput
              placeholder="Enter Type..."
              name="type"
              required
              [(ngModel)]="newStorage.storage_type"
            />
            <mat-error>Storage type cannot be empty.</mat-error>
          </mat-form-field>
        </mat-card>
        <br />
        <!--storage location-->
        <mat-card
          fxLayout="row"
          fxLayoutGap="15px"
          fxLayoutAlign="start center"
          class="cards"
        >
          <span class="spantext">Storage Location: </span>
          <mat-form-field class="full-width-input">
            <input
              matInput
              placeholder="Enter Location..."
              name="location"
              required
              [(ngModel)]="newStorage.storage_location"
            />
            <mat-error>Password does not match.</mat-error>
          </mat-form-field>
        </mat-card>
        <br>
        <mat-card
          fxLayout="row"
          fxLayoutGap="15px"
          fxLayoutAlign="start center"
          class="cards"
        >
        <span class="spantext">Labeling Code: </span>
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Give this box a code... e.g. 001"
            name="code"
            required
            [(ngModel)]="newStorage.storage_assigned_code"
          />
          <mat-error>Must assign a code to this storage box</mat-error>
        </mat-form-field>
        </mat-card>

        <br />
        <br />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="success === true"
        >
          <mat-icon>store</mat-icon>
          <!--If request is loading send processing, if not load #register template-->
          <span *ngIf="loading; else register"> Processing Request </span>
          <ng-template #register>
            <span>&nbsp;&nbsp;&nbsp;Create Storage Location</span>
          </ng-template>
        </button>
      </form>
    </mat-card-content>

    <div class="success" *ngIf="success == true">
      Storage Creation Successful. Proceed to<br /><br />
      <a mat-raised-button color="accent" [routerLink]="['/managestorage']">
        <mat-icon>store</mat-icon>&nbsp;&nbsp;&nbsp;Storage Boxes
      </a>
    </div>
  </mat-card>
</div>
