<h2 id="header">Getting Started - How to Use Collection Manager</h2>
<p class="headerDesc">
  Follow the steps below to create your first collection using Collection
  Manager and begin to explore all the features<br />
  that Collection Manager has to offer. Visit the<a routerLink="/articles"
    >Knowledge Hub</a
  >for more help.
</p>
<br />
<mat-card class="mat-elevation-z4">
  <div class="row">
    <div class="column">
      <p>Step 1) Create a Storage Box.</p>
      <hr />
      <p>
        Storage Boxes help identify where your belongings are being kept and are
        used within your collections to show where those items are located.
      </p>
      <br />
      <button
        mat-raised-button
        color="primary"
        class="createButtons"
        routerLink="/createstorage"
      >
        Create A Storage Box
      </button>
    </div>
    <div class="column">
      <p>Step 2) Create a Collection.</p>
      <hr />
      <p>
        Collections are where you add your belongings to be stored. Create
        different collections to group different items together for easy
        searching and sorting.
      </p>
      <br />
      <button
        mat-raised-button
        color="primary"
        class="createButtons"
        routerLink="/createcollection"
      >
        Create A Collection
      </button>
    </div>
    <div class="column">
      <p>Step 3) Add Items to Your Collection.</p>
      <hr />
      <p>
        Within each of your collections you can add items which represent your
        belongings and link them to a storage box so you always know where they
        are stored.
      </p>
      <br />
      <button
        mat-raised-button
        color="primary"
        class="createButtons"
        routerLink="/managecollections"
      >
        View Your Collections
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="column">
      <img
        src="../../assets/images/storageboxes.png"
        alt="Snow"
        style="width: 100%"
      />
    </div>
    <div class="column">
      <img
        src="../../assets/images/collectionexample.png"
        alt="Forest"
        style="width: 100%"
      />
    </div>
    <div class="column">
      <img
        src="../../assets/images/viewcollections.png"
        alt="Mountains"
        style="width: 100%"
      />
    </div>
  </div>
</mat-card>
<!--


<div class="container">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Total Website Visits</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="item">
        <p>
          1123111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
        </p>
      </div>
      <div class="item">2</div>
      <div class="item">3</div>
    </mat-card-content>
  </mat-card>
</div>



<div class="contents">

  <mat-toolbar color="primary">
    <span>Website Analytics - Last Updated</span>
  </mat-toolbar>

  <mat-card class="my-card">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>Total Website Visits</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="paragraphData">Data to be added this week..</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>

-->
