<!--Header-->
<mat-toolbar>
  <span>Trading Hub > Trade</span>
</mat-toolbar>
<form (ngSubmit)="onSubmit()">
  <!--Image Section-->
  <mat-card class="my-card">
    <mat-card-content class="imageContent">
      <div fxLayout.gt-sm="column" fxFlex.gt-sm="40%" class="imageContent">
        <img
          src="../../assets/images/bluelogo.png"
          alt="asdasd"
          id="userImage"
        />
        <br />
        <a href="">Add images of what you are offering.</a>
      </div>
    </mat-card-content>
    <!--Labels Section-->
    <mat-card-content class="labelContent">
      <label id="postName">Listing Name:</label>
      <label id="collName">Select Collection:</label>
      <label id="itemName">Select an Item:</label>
      <label id="description">Item Description:</label>
      <label id="condition">Item Condition:</label>
      <label id="lookingFor">What are you looking for in return?</label>
    </mat-card-content>
    <!--Fields Section-->
    <mat-card-content>
      <form class="my-form">
        <mat-card-content>
          <form class="my-form">
            <mat-form-field class="full-width">
              <mat-label>Enter a title for your post..</mat-label>
              <input
                matInput
                placeholder="Enter a title for your post.."
                name="listingname"
                required
                [(ngModel)]="tradeModel.listing_name"
              />
            </mat-form-field>
            <select
              [(ngModel)]="selectedCollection"
              (change)="selected()"
              name="selectCollection"
              class="selects"
              required
            >
              <option
                class="options"
                *ngFor="let collection of collections"
                [ngValue]="collection"
              >
                {{ collection.collection_name }}
              </option>
            </select>
            <select
              [(ngModel)]="selectedItem"
              (change)="itemPicked()"
              name="selectItems"
              class="selectsTwo"
              required
            >
              <option
                class="options"
                *ngFor="let item of items"
                [ngValue]="item"
              >
                {{ item.item_title }}
              </option>
            </select>
            <mat-form-field class="full-width">
              <mat-label>Enter details about what you are offering..</mat-label>
              <input
                matInput
                placeholder="Enter details about what you are offering.."
                name="description"
                required
                [(ngModel)]="tradeModel.listing_description"
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Enter the condition of the item..</mat-label>
              <input
                matInput
                placeholder="Enter the condition of the item.."
                name="condition"
                required
                [(ngModel)]="tradeModel.listing_condition"
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Enter desired items details..</mat-label>
              <input
                matInput
                placeholder="Enter desired items details.."
                name="wanted"
                required
                [(ngModel)]="tradeModel.listing_wanted"
              />
            </mat-form-field>
          </form>
        </mat-card-content>
      </form>
      <!--Submit/Preview Buttons-->
      <mat-card-actions>
        <button mat-raised-button color="primary" id="createButton">
          PREVIEW
        </button>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          id="createButton"
        >
          POST
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
